header {
    grid-area: header;
    background-color: aqua;
}

.sidebar {
    grid-area: sidebar;
    background-color: coral;
}

.content {
    grid-area: content;
    background-color: darkblue;
}

footer {
    grid-area: footer;
    background-color: darkolivegreen;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
        "header header header header"
        "sidebar content content content"
        "sidebar footer footer footer";
}