/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: gray; 
}

h1 {
    color: white;
}
table {
    width: 100%;
    border: 4px solid palevioletred;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

td.SI {
    background-color: #ffcc00; 
}

td.LLMM {
    background-color: #66ccff; 
}

td.EEDD {
    background-color: #ff6666; 
}

td.FOL {
    background-color: #99ff99; 
}

td.PROG {
    background-color: #ff9933;
}

td.BBDD {
    background-color: #cc99ff; 
}

td.RECREO {
    background-color: #e6e6e6; 
}
